h1 {
    text-align: center;
}

.card {
    height: 250px;
}

#city-input {
    width: 150px;
}

#curr-weather {
    margin-right: 400px;
    margin-bottom: 50px;
    border: solid 2px black;
}

body {
    background-color: #e6e8e6;
}

a {
    color: black;
}

